@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: rgb(67, 124, 248); 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: hsl(219, 84%, 57%);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500px;
    padding-left: 30px;
}

.navigation a:hover{
    color:#601cfc;
}


section{
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items:center;
    background: url(image/light.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    color: rgb(36, 126, 230);
    display: inline-block;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #f0f0f0;
    background-color: rgb(32, 122, 224);
    text-decoration: none;
    font-size: 1.1em;
    font-weight:600 ;
    display:inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: rgb(57, 57, 221);
    transform: scale(1.1);
}

.social-icons a {
    color:#fff;
    font-size: 1.7em;
    padding-right: 30px;
    
}

.title{
    display: flex;
    justify-content: center;
    color: #0799dd;
   
                
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;     
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 17%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
   transform: scale(1.1);
}

.icon {
    color:#0827d8;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color:#0827d8;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}
.projects{
    background-color: rgb(12, 12, 12);

    
}
.projects.content{
    margin-top: 40px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: btn-main 1.1s linear infinite;
    border-radius: 3px;
    overflow: hidden;
}   

.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-image img{
    width: 100%
    
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 1.1em;
    color: black;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover{
    color:#601cfc
}
.contact .icon{
    font-size: 4.5em;
}
.contact .info h3{
    color: #000;
}
.contact .info p{
    font-size: 1.3em;
}

.footer{
    background-color: #000;
    color: #fff;
    pad: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;   
    color: rgb(18, 127, 216);
}

.footer .social-icons a{

    font: 1.3em;
    padding: 0 12px 0 0;
}

@media  (max-width:1023){
    header{
        padding: 12px 20px;
    }
    .navigation{
        padding: left 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;

    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
        
    }

    .main-content h2{
        font-size: 0.8em;  
    }
    .main-content h3 {
        font-size: 1.4em;  
    }

}

@media (max-width:300px){
    body{
        font-size: 10px;       
    }
}